.intro {
  width: 100vw;
  display: block;
  height: 100vh;
  overflow: hidden;
}

#intro-center-rock-background {
  /* background-image: url("../../assets/about-bg.svg");
  background-size: cover;
  background-repeat: no-repeat; */
  transition: opacity 1s ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#intro-center-rock .v360-viewport-container.v360-viewport {
  height: 100vh;
  position: relative;
  top: -1.1vw;
  left: 0.8vw;
}

#intro-center-rock .v360-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

#intro-center-rock {
  position: relative;
  z-index: 0;
}

.zoomAboutPage {
  width: 100vw;
  display: block;
  height: 100vh;
  overflow: hidden;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

#intro-video-start {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#intro-video-zoom {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#intro-video-background {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

#intro-video2 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding: 24px;
}

.kklogo {
  z-index: 2;
}

.kklogo img {
  width: 44px;
  height: 44px;
}

.emailTwitter {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  max-width: 80%;
  margin: auto;
  padding-bottom: 7.8vh;
}

.rock-block {
  position: absolute;
  top: calc(40vh - 200px);
  left: 40px;
  right: 0;
  margin: auto;
  width: 400px;
  z-index: 10;
  cursor: pointer;
  padding-top: 560px;
}

@media screen and (min-width: 1000px) {
  .title {
    z-index: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: SFUFuturaBold;
    font-size: 8vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
    text-shadow: -4px -4px 4px rgba(255, 255, 255, 0.4), 3px 3px 33px rgba(105, 129, 162, 0.2);
    /* letter-spacing: 1.165em; */
    display: inline-block;
    background: linear-gradient(0deg, #FFFFFF 40%, rgba(255, 255, 255, 0.5) 94.32%);
    color: white;
    -webkit-text-stroke: 1px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #93939380;
    text-align: center;
    display: flex;
    width: 70vw;
    justify-content: space-between;
  }
  .title span span {
    letter-spacing: 0;
  }
}

.mainContent {
  font-weight: 400;
  font-style: normal;
  z-index: 2;
  text-transform: uppercase;
  display: inline-block;
}

.introContent {
  line-height: 207.92%;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.45vw;
}

.mainContent p {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 12px;
}

.wrapButton {
  /* position: absolute;
  right: 60%; */
  display: flex;
  /* margin-left: 50vw; */
}

#button {
  font-family: MontserratBold;
  z-index: 2;
  width: 8vw;
  min-width: 150px;
  background-color: #ffd953;
  padding: 16px 20px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 80%;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.195em;
  text-transform: uppercase;
  cursor: pointer;
  background: #FFD953;
  box-shadow: -4px -4px 4px rgba(255, 255, 255, 0.4), 3px 3px 6px rgba(105, 129, 162, 0.2);
  border-radius: 16px;
}

.rockLandingPage {
  position: absolute;
  display: flex;
  /* background-color: black; */
  float: right;
  margin-left: 58vw;
  width: 25%;
  height: 85%;
  top: 20%;
  right: 38%;
}

@media screen and (max-width: 999px) {
  #intro-center-rock-background {
    overflow: hidden;
  }
  .emailLogo {
    margin-bottom: 0;
  }
  .content {
    align-items: center;
    padding-bottom: 3vh;
  }
  .title {
    z-index: 1000;
    text-align: center;
    margin-bottom: 0;
    font-family: SFUFuturaBold;
    font-weight: 700;
    font-size: 7.8vh;
    line-height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 3.9vh;
    max-width: 40vh;
  }
  .title span {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
    text-shadow: -4px -4px 4px rgba(255, 255, 255, 0.4), 3px 3px 33px rgba(105, 129, 162, 0.2);
    display: inline-block;
    background: linear-gradient( 0deg, #ffffff 47.23%, rgba(255, 255, 255, 0.5) 94.32%);
    color: white;
    -webkit-text-stroke: 1px transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #93939380;
  }
  .title span:last-child {
    letter-spacing: 24px;
  }
  .title span span {
    letter-spacing: 0 !important;
  }
  .mainContent {
    top: 101%;
    left: 0;
    margin-left: 0;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .mainContent>p {
    font-size: 20px;
    margin-bottom: 1.2vh;
    margin-top: 1.2vh;
    line-height: 1.75;
    
  }
  .introContent {
    text-align: center;
  }
  .wrapButton {
    justify-content: center;
  }
  #button {
    box-shadow: -4px -4px 4px rgb(255 255 255 / 40%), 3px 3px 6px rgb(105 129 162 / 20%);
    font-size: 12px;
    padding: 20px 28px;
    width: auto;
    height: auto;
  }
  #intro-center-rock .v360-viewport-container.v360-viewport {
    top: -2.6vw;
    left: 2vw;
  }
  .logo {
    padding: 12px;
  }
}

@media screen and (max-width: 767px) {
  #intro-center-rock .v360-viewport-container.v360-viewport {
    top: -4.2vw;
    left: 3vw;
  }
}