.focusPage {
  background: #ededed;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/focus-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.titleFocus {
  height: 20%;
  font-family: SFUFutura;
  font-weight: 700;
  font-style: normal;
  font-size: 150%;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titleFocus .child {
  position: absolute;
  margin-top: 5%;
  margin-left: 15%;
  width: 50%;
}

.titleFocus .child2 {
  display: block;
  height: 100%;
  margin-left: 60%;
  margin-right: auto;
  width: 50%;
}

.rock1 {
  display: block;
  height: 250%;
  transform: translate(-10%, -50%);
}

.row1 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100vw;
  margin-left: 3%;
}

.row2 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100vw;
  margin-left: 3%;
}

.pillar {
  width: 20%;
  position: relative;
  text-align: center;
}

.pillar .daos {
  width: 130%;
  margin-top: 70%;
}

.daosImg {
  position: absolute;
  width: 70%;
  float: center;
  margin-left: 50%;
  top: 5px;
}

.daosImg:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  width: 75%;
}

@media screen and (max-width: 999px) {
  .focusPage {
    height: auto;
    padding: 20vw 4vw;
    width: auto;
    display: block;
  }
  .titleFocus .child {
    position: relative;
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 4vw;
  }
  .slideWrapper {
    max-width: 480px;
    margin: auto;
  }
  .item {}
  .itemInner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .img {
    transform: scale(1);
    transition: all 0.3s ease;
    width: 180px;
    height: auto;
    max-width: 40vw;
  }
  .name {
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;
    letter-spacing: 2px;
    margin-top: 60px;
    opacity: 1;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 70px;
    font-family: 'MontserratRegular';
  }
  .buc {
    margin: auto;
    display: block;
    top: -100px;
    z-index: 0;
    position: relative;
    margin-bottom: -100px;
    width: 100%;
  }
  .slick-slider .slick-slide:not(.slick-current) .img {
    transform: scale(0.5);
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
  .arrow {
    transition: all 0.3s ease;
  }
  .arrow:hover svg path {
    stroke: #FFD953;
    transition: all 0.3s ease;
  }
  .arrowPrev {}
  .arrowNext {
    transform: rotateY(180deg);
  }
  .number {
    margin: 0 16px;
    font-family: 'SFUFuturaRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    background: linear-gradient(75.27deg, #7C7D7F -24.99%, #C3C4C6 14.72%, #9EA0A3 57.04%, #CBCCCE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    display: flex;
    align-items: center;
  }
  .actionNumber {
    font-family: 'SFUFuturaRegular';
    font-size: 49.7129px;
  }
  .totalNumber {}
}

@font-face {
  font-family: "SFUFutura";
  src: local("SFUFutura"), url(../../assets/fonts/SFU/SFUFuturaBold.TTF) format("woff");
}

@font-face {
  font-family: "SFUFuturaBold";
  src: local("SFUFuturaBold"), url(../../assets/fonts/SFU/SFUFuturaBold.TTF) format("woff");
}

@font-face {
  font-family: "SFUFuturaRegular";
  src: local("SFUFuturaRegular"), url(../../assets/fonts/SFU/SFUFuturaRegular.TTF) format("woff");
}

@font-face {
  font-family: "MontserratRegular";
  src: local("MontserratRegular"), url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf) format("woff");
}

@font-face {
  font-family: "MontserratBold";
  src: local("MontserratBold"), url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf) format("woff");
}