nav.navbar.navbar-expand-lg.fixed-top
  div.container-fluid.h-100
    img(src='./images/back-btn.png' alt='' class="history-back")
    a(class="logo" href="index.html")
      img(src='./images/home_header_logo.png' alt='')
    div.d-flex.justify-content-end.w-100.h-100
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar')
        span.navbar-icon
        span.navbar-icon
        span.navbar-icon
        span.navbar-icon
        span.navbar-icon
        span.navbar-icon
    div#navbar.collapse.navbar-collapse
      ul.navbar-nav.nav.nav-fill.w-100
        li.nav-item
          div.d-flex.align-items-center.click
            img.img-fluid.img-link(src='./images/link.png' alt='')
            a.nav-link.w-100(href="history.html") 注文履歴
        li.nav-item
          div.d-flex.align-items-center.click
            img.img-fluid.img-link(src='./images/link.png' alt='')
            a.nav-link.w-100(href="sukipass.html") Sukipassの登録・管理
        li.nav-item#connectDpoint
          div.d-flex.align-items-start.click
            img.img-fluid.img-link(src='./images/link.png' alt='')
            a.nav-link.w-100(href="#") dポイントカード番号：未設定
        li.nav-item
          div.d-flex.align-items-center.click
            img.img-fluid.img-link(src='./images/link.png' alt='')
            a.nav-link.w-100(href="term-of-use.html") 利用規約
        li.nav-item
          div.d-flex.align-items-center.click
            img.img-fluid.img-link(src='./images/link.png' alt='')
            a.nav-link.w-100(href="transaction-law.html") 特定商取引法に基づく表記
        li.nav-item
          div.d-flex.align-items-center.click
            img.img-fluid.img-link(src='./images/link.png' alt='')
            a.nav-link.w-100(href="https://www.sukiya.jp/privacy.html") 個人情報保護方針
        li.nav-item
          div.d-flex.align-items-center.click
            img.img-fluid.img-link(src='./images/link.png' alt='')
            a.nav-link.w-100(href="https://www.sukiya.jp/auth/inquiry") お問い合わせ先
