div(class="modal fade show" id="signUpModal" tabindex="-1" role="dialog" data-backdrop="static")
  div(class="modal-dialog-centered modal-dialog modal-sm" role='document')
    div.modal-content
      div.modal-header.text-center
        h5.modal-title.font-medium.w-100 エラー
        button.close-modal(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      div.modal-body.text-center
          p.font-regular.mb-0.text 
      div.modal-footer
          button.ok.btn.font-medium(type='button' data-dismiss="modal") OK