@font-face {
    font-family: 'SFU Futura Bold';
    src: url("../fonts/SFUFuturaBold.ttf");
}

@font-face {
    font-family: 'SFU Futura Book';
    src: url("../fonts/SFUFuturaBook.ttf");
}

@font-face {
    font-family: 'SFU Futura ExtraBold';
    src: url("../fonts/SFUFuturaExtraBold.ttf");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat-Black.ttf");
}